@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}


.jobs {
    background-image: url('../Components/Vagas/empresas-img/jobs.jpg');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.links {
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

html {
    scroll-behavior: smooth;
}

.background {
    background-image: url('../assets/img/horizonte.jpg');
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon {
    width: 20px;
}


.fonts {
    font-family: 'Times New Roman', Times, serif;
}

